main {
  padding-bottom: 100px;
  h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(232, 10, 117);
    text-shadow: 2px 1px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    svg {
      text-shadow: rgb(232, 10, 117);
      fill: rgb(0, 0, 117);
    }
  }
  .notes {
    max-width: 800px;
    margin: auto;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    @media only screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
  .paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 30px;
    font-size: 30px;
    svg {
      fill: rgb(232, 10, 117);
      border-radius: 5px;
      padding: 5px;
      transition: all 0.5s ease;
      cursor: pointer;
      &:hover {
        scale: 1.5;
        background-color: rgb(232, 10, 117);
        fill: rgb(255, 255, 255, 0.8);
      }
    }
  }
}
