@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pacifico", cursive;
}

body {
  background-color: rgba(0, 255, 0, 0.1);
}
